/*Style Sheet that targets the html and body element*/
html, body
{
    height: 100%;
    background-color: green;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Style Sheet that targets the h1 element within the header element*/
header h1, h2
{
    color: yellow;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.order-details
{
    color: yellow;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

/*Makes both the text and the image stay at the top like you would see on a real website (I used the dominos website for inspiration)*/
/*For this header I was unsure on how to do it how I wanted to so I asked Microsoft Copilot to explain to me how it's done*/
/*The (display: flex;) makes them become flex items which makes it much eaiser to space a group of things */
header
{
    display: flex;
    align-items: center;
    background-color: green;
    padding: 20px;
}

main img
{
    height: 699px;
    display: block;
}

/*Makes the pizza ad and order button on the same level*/
.button-ad
{
    display: flex;
    align-items: center;
    gap: 275px
}

/* Chnages the style for the button*/
.button
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    color: yellow;
    background-color: green;
}

header img
{
    height: 120px
}

/*This lets the main take up all the space between the header and footer I did this because I want the footer to go to the bottom*/
main
{
    flex: 1;
}

/*Style Sheet that targets the footer element*/
footer
{
    background-color: green;
    color:yellow;
}

.ordering
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: yellow;
    background-color: green;
}